name: OpenSplitTime CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
      - name: Run tests
        run: 
          flutter test ./test/services/preferences_service_test.dart
          flutter test ./test/controllers/live_entry_controller_test.dart
          flutter test ./test/live_entry_test.dart